**Q1. Which function is used to open a file? What are the different modes of opening a file? Explain each mode
of file opening.**

*OPEN* Open() function is used to open a file thare are two types of modes to open a file

 there are 5 modes to open a file :-
1. Read (r): it used to read a file .
2. write (w) it is used to write a file .
3. append (a) this command is used to append a the data into a file .
4. text mode (t): it function is used to read text from the file .
5. binary mode (b): is a mode used when opening a file to indicate that the file should be treated as a binary file. In binary mode, the file is processed as a sequence of bytes.

**Q2. Why close() function is used? Why is it important to close a file?**

The close() function is used to close a file that has been opened using the open() function. It is important to close a file after you have finished working with it for several reasons:

1. Resourse managment
2. Data Integrity
3. prevention of data loss

**Q3. Write a python program to create a text file. Write ‘I want to become a Data Scientist’ in that file. Then
close the file. Open this file and read the content of the file.**

In [30]:
file = open("HomeWork.txt","w")

In [31]:
file.write("I want to become data scientist")

31

In [32]:
file.close()

In [33]:
file = open("HomeWork.txt","r")

In [34]:
file.read()

'I want to become data scientist'

**Q4. Explain the following with python code: read(), readline() and readlines().**

Read() -: this command is used to read the file content and display in console. 
fist we have to open a file in reading mode "r" then then we can read file.

In [37]:
# Example

file = open("HomeWork.txt",'r')
file.read()

'I want to become data scientist'

In [42]:
file2 = open("Hw_Reanline.txt","w")
file2.write("Dijkstra's algorithm is a popular graph traversal algorithm used to find the shortest path between two nodes in a weighted graph. It operates by maintaining a set of nodes whose distances from the source node have been finalized. Initially, the distance of the source node is set to 0, and all other nodes are set to infinity.")

326

In [44]:
file2.close()

readline() -: when we want read data line by line then we use this command.
we have set poiter to read file from the starting point with **seek** command
readline is used with seek cammand

readlines() -: This method reads all lines from the file and returns them as a list of strings. Each line is an element in the list, including the newline character at the end of each line. The file pointer moves to the end of the file after using readlines().

In [48]:
file2 = open("Hw_Reanline.txt","r")
file2.read()

"Dijkstra's algorithm is a popular graph traversal algorithm used to find the shortest path between two nodes in a weighted graph. It operates by maintaining a set of nodes whose distances from the source node have been finalized. Initially, the distance of the source node is set to 0, and all other nodes are set to infinity."

In [49]:
file2.readline()

''

In [63]:
file2.seek(10)

10

In [64]:
file2.readlines()

[' algorithm is a popular graph traversal algorithm used to find the shortest path between two nodes in a weighted graph. It operates by maintaining a set of nodes whose distances from the source node have been finalized. Initially, the distance of the source node is set to 0, and all other nodes are set to infinity.']

**Q5. Explain why with statement is used with open(). What is the advantage of using with statement and
open() together?**

The with statement in Python is used in conjunction with the open() function for file handling to ensure that the file is properly closed after you finish working with it. It guarantees that the file will be closed even if an exception occurs within the block of code.

The advantage of using the with statement with open() is as follows:

Automatic resource management: When you open a file using open(), you need to explicitly close it using the close() method. Forgetting to close a file can lead to resource leaks and can cause issues, especially when working with multiple files or in larger programs. However, when you use the with statement with open(), it automatically takes care of closing the file for you, regardless of how the block is exited (either normally or due to an exception).

Exception handling: The with statement provides a convenient way to handle exceptions that may occur while working with a file. If an exception occurs within the with block, the file is still closed before the exception is propagated, preventing any potential file-related issues. This ensures that resources are properly released, and your code can gracefully handle exceptions without leaving files open.

Using the with statement with open() creates a context manager that handles the opening and closing of the file. It guarantees that the file will be closed when the block of code is exited, regardless of how it is exited (whether by completing normally or encountering an exception). This makes the code cleaner, safer, and more reliable.

Here's an example to illustrate the usage of the with statement with open():

In [67]:
file_path = 'HomeWork.txt'

# Using with statement with open()
with open(file_path, 'r') as file:
    # Perform file operations
    content = file.read()
    print(content)

I want to become data scientist

In [68]:
file_new = open("New_file.txt","w")
file_new.write("Hllo")

4

In [69]:
file_new.close()

**Q6. Explain the write() and writelines() functions. Give a suitable example.**

write():- This function is used to write a string to a file. It takes a string as an argument and writes it to the file at the current file position. If the file does not exist, it creates a new file. If the file exists, it overwrites the existing content with the new string.

In [73]:
file_path = 'fist.txt'

with open(file_path, 'w') as file:
    file.write('Hello, world!\n')
    file.write('This is a sample file.')

writelines():- This function is used to write a list of strings to a file. It takes an iterable (such as a list or tuple) of strings as an argument and writes each string to the file at the current file position. Similar to write(), if the file does not exist, it creates a new file, and if the file exists, it overwrites the existing content.

In [ ]:
file_path = 'New_file.txt'
lines = ['Line 1\n', 'Line 2\n', 'Line 3\n']

with open(file_path, 'w') as file:
    file.writelines(lines)

In [3]:
import pandas as pd
import numpy as np
# Creating a Series
s = pd.Series([1, 3, 5, np.nan, 6, 8])
print(s)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
import pandas as pd

# Creating a DataFrame from a dictionary
data = {'Name': ['John', 'Jane', 'Bob'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Seattle']}

df = pd.DataFrame(data)

In [5]:
df

   Name  Age           City
0  John   25       New York
1  Jane   30  San Francisco
2   Bob   35        Seattle

In [7]:
df.index = df.index+1

In [8]:
df

   Name  Age           City
1  John   25       New York
2  Jane   30  San Francisco
3   Bob   35        Seattle

In [11]:
data = np.array([['John', 25, 'New York'],
                 ['Jane', 30, 'San Francisco'],
                 ['Bob', 35, 'Seattle1']])

df = pd.DataFrame(data, columns=['Name', 'Age', 'City'])

In [12]:
df

   Name Age           City
0  John  25       New York
1  Jane  30  San Francisco
2   Bob  35       Seattle1

In [13]:
a = 20
b = 10
print('The value of a is {} and b is {}'.format(a,b))

The value of a is 20 and b is 10