In [22]:
import pandas as pd

- Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [23]:
data = [4,8,15,16,23,42]

In [24]:
data1 = pd.Series(data)

In [25]:
type(data1)

pandas.core.series.Series

- Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [26]:
my_list = [4, 8, 15, 16, 23, 42, "apple", "banana", "cherry", True]

In [27]:
data3 = pd.Series(my_list)

In [28]:
type(data3)

pandas.core.series.Series

- Q3. Create a Pandas DataFrame that contains the following

In [29]:
dataframe = {'Name':['Alice','Bob','Claire'],
             'Age':[25,30,27],
             'Gender':['Female','Male','Female']}

In [30]:
type(dataframe)

dict

In [31]:
df = pd.DataFrame(dataframe)

In [32]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

- Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A Pandas Series can be thought of as a column in a spreadsheet or a single column of a DataFrame.
It consists of two main components:
Labels: These are the indices (like row numbers) associated with each data point.
Data: The actual values stored in the Series.

In [33]:
#Ex-
data1

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

A DataFrame is a 2-dimensional labeled data structure with columns of potentially different types.
It can be thought of as a dict-like container for Series objects.

In [34]:
#Ex
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

- Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [37]:
df.head()
df.tail()
df.describe()
df.columns
df.to_clipboard()

Index(['Name', 'Age', 'Gender'], dtype='object')